html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #6e22bf;
	color: #F8F8F2;
}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #ee00ff;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #ff00a5;
}

h2 {
	color: #ff0000;
}

.btn-pink {
	background-color: pink;
	border-color: pink;
	color: purple;
}

input, textarea {
	color: #333 !important;
}

p {
	color : #fc5a5a;
}